/* .row {
	border: 1px solid white;
}

.col {
	border: 1px solid yellow;
} */

p.special {
	font-size: larger;
}

.rerollable {
	color: red;
	font-weight: bolder;
}

.great {
	color: green;
}

.whoa {
	color: green;
	font-weight: bolder;
	text-decoration: underline;
}
