<script>	
	let hits = [];
	let misses = [];
	let wounds = [];
	let nonwounds = [];
	let saves = [];
	let nonsaves = [];

	import HitRoller from './HitRoller.svelte';
	import WoundRoller from './WoundRoller.svelte';
	import SaveRoller from './SaveRoller.svelte';
</script>

<br>
<div class="container-sm">
	<div class="row">
		<div class="col">
			<h1>40K Dicer Hammer</h1>
			<p>Helps calculator hits, wounds and saves during 40K games.</p>
		</div>
		<hr>
	</div>
	<HitRoller bind:hits={hits} bind:misses={misses} />
	<WoundRoller bind:wounds={wounds} bind:nonwounds={nonwounds} hits={hits} />
	<SaveRoller bind:saves={saves} bind:nonsaves={nonsaves} wounds={wounds} />
	<br>
	<div class="row">
		<div class="col">
			<h5><a href="https://gitlab.com/mrcrilly/40kdicehammer">Dicehammer is open-source!</a> | Created by <a href="mailto:mrcrilly@gmail.com">Michael Crilly.</a></h5>
		</div>
	</div>
	<br>
</div>
