<script>
    import {d6} from './SharedFunctions.js';

    let skill;
    let attacks;
	
	let disableRerollButtons = true;

    export let hits = [];
	export let misses = [];

    function handleHitRoll() {
		disableRerollButtons = false;

		if (Number(skill) > 6) {
			alert("SKill > 6? Really?");
			return;
		}

		if (attacks > 150) {
			alert("Attacks > 150? Really? Don't be a dick.");
			return;
		}
		
		let successful = [];
		let fails = [];
		for (let i = 1; i <= attacks; i++) {
			let roll = d6();
			if (roll >= Number(skill)) {
				successful.push(roll);
			} else {
				fails.push(roll);
			}
		}

		hits = successful;
		misses = fails;

		hits.sort((a, b) => a - b);
		misses.sort((a, b) => a - b);
	}

	function handleRerollOnes() {
		let target = 1;
		if (misses.indexOf(target) === -1) { return; }

		disableRerollButtons = true;

		let successful = [];
		let fails = [];

		for (let i = 0; i < misses.length; i++) {
			if (misses[i] === target) {
				let roll = d6();
				if (roll >= Number(skill)) {
					successful.push(roll);
				} else {
					fails.push(misses[i]);
				}
			} else {
				fails.push(misses[i]);
			}
		}

		if (fails.length === 0) {
			disableRerollButtons = true;
		} else {
			setTimeout(() => {disableRerollButtons = false;}, 1500);
		}
		
		hits = hits.concat(successful);
		misses = fails;

		hits.sort((a, b) => a - b);
		misses.sort((a, b) => a - b);
	}

	function handleRerollFails() {
		disableRerollButtons = true;

		let successful = [];
		let fails = [];

		for (let i = 0; i < misses.length; i++) {
			let roll = d6();
			if (roll >= Number(skill)) {
				successful.push(roll);
			} else {
				fails.push(misses[i]);
			}
		}

		if (fails.length === 0) {
			disableRerollButtons = true;
		} else {
			setTimeout(() => {disableRerollButtons = false;}, 1500);
		}
		
		hits = hits.concat(successful);
		misses = fails;

		hits.sort((a, b) => a - b);
		misses.sort((a, b) => a - b);
	}

	function resetHitRoller() {
		skill = undefined;
		attacks = undefined;
		hits = [];
		misses = [];
	}
</script>

<div class="row">
	<div class="col">
		<h2>Hit Roller</h2>
		<form on:submit|preventDefault>	
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="skill">Step 1: Skill</label>
						<select name="skill" class="form-control form-control-lg" bind:value="{skill}">
							<option value="2">2+</option>
							<option value="3">3+</option>
							<option value="4">4+</option>
							<option value="5">5+</option>
							<option value="6">6+</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="attacks">Step 2: Attacks</label>
						<input type="number" name="attacks" pattern="\d*" class="form-control form-control-lg" placeholder="Attacks" aria-label="Attacks" bind:value="{attacks}">
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<button on:click="{handleHitRoll}" class="btn btn-primary btn-lg">
						Roll
					</button>
				</div>
				<div class="col align-self-end">
					<button on:click="{resetHitRoller}" class="btn btn-sm btn-danger">
						Reset
					</button>
				</div>
			</div>
		</form>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h1 class="card-title">HITS</h1>
						<h1 class="whoa">{hits.length}</h1>
						{#if hits.length <= 0 }
							<p class="special">&nbsp;</p>
						{:else}
							<p class="special">
								{#each hits as dice, i}
								{#if dice === 1}<span class="rerollable">{dice} </span>
								{:else if dice === 5 }<span class="great">{dice} </span>
								{:else if dice === 6 }<span class="whoa">{dice} </span>
								{:else}<span>{dice} </span>{/if}
								{/each}
							</p>
						{/if}
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h1 class="card-title">FAILED</h1>
						<h1 class="rerollable">{misses.length}</h1>
						{#if misses.length <= 0}
							<p class="special">&nbsp;</p>
						{:else}
							<p class="special">
								{#each misses as dice, i}
								{#if dice === 1}<span class="rerollable">{dice} </span>
								{:else if dice === 5 }<span class="great">{dice} </span>
								{:else if dice === 6 }<span class="whoa">{dice} </span>
								{:else}<span>{dice} </span>{/if}
								{/each}
							</p>
						{/if}
					</div>
				</div>
				<div class="row" style="margin-top: 10px">
					<div class="col">
						<button type="button" class="btn btn-primary w-100" on:click="{handleRerollOnes}" disabled={disableRerollButtons}>1s</button>
					</div>
					<div class="col">
						<button type="button" class="btn btn-primary w-100" on:click="{handleRerollFails}" disabled={disableRerollButtons}>Failed</button>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>