<script>
    import {d6} from './SharedFunctions.js';

    let save;
	let ap = 0;

	let disableRerollButtons = true;

    export let wounds = [];
	export let saves = [];
	export let nonsaves = [];

    function handleSaveRoll() {
		disableRerollButtons = false;

		let successful = [];
		let fails = [];

		for (let i = 1; i <= wounds.length; i++) {
			let roll = d6();
			if (roll >= (Number(save) + Math.abs(ap))) {
				successful.push(roll);
			} else {
				fails.push(roll);
			}
		}

		saves = successful;
		nonsaves = fails;

		saves.sort((a, b) => a - b);
		nonsaves.sort((a, b) => a - b);
	}

	function handleRerollOnes() {
		let target = 1;
		if (nonsaves.indexOf(target) === -1) { return; }
		
		disableRerollButtons = true;
		
		let successful = [];
		let fails = [];

		for (let i = 0; i < nonsaves.length; i++) {
			if (nonsaves[i] === target) {
				let roll = d6();
				if (roll >= (Number(save) + Math.abs(ap))) {
					successful.push(roll);
				} else {
					fails.push(nonsaves[i]);
				}
			} else {
				fails.push(nonsaves[i]);
			}
		}

		if (nonsaves.length === 0) {
			disableRerollButtons = true;
		} else {
			setTimeout(() => {disableRerollButtons = false;}, 1500);
		}
		
		saves = saves.concat(successful);
		nonsaves = fails;

		saves.sort((a, b) => a - b);
		nonsaves.sort((a, b) => a - b);
	}

	function handleRerollFails() {
		disableRerollButtons = true;

		let target = Number(save) + Math.abs(ap);
		let successful = [];
		let fails = [];

		for (let i = 0; i < nonsaves.length; i++) {
			let roll = d6();
			if (roll >= target) {
				successful.push(roll);
			} else {
				fails.push(nonsaves[i]);
			}
		}

		if (nonsaves.length === 0) {
			disableRerollButtons = true;
		} else {
			setTimeout(() => {disableRerollButtons = false;}, 1500);
		}
		
		saves = saves.concat(successful);
		nonsaves = fails;

		saves.sort((a, b) => a - b);
		nonsaves.sort((a, b) => a - b);
	}

	function resetSaveRoller() {
		save = undefined;
		saves = [];
		nonsaves = [];
	}
</script>

<div class="row">
	<div class="col">
		<h2>Save Roller ({wounds.length || "N/A"})</h2>
		<form on:submit|preventDefault>	
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="attacks">Step 5: Save</label>
						<select class="form-control form-control-lg" bind:value="{save}">
							<option value="2">2+</option>
							<option value="3">3+</option>
							<option value="4">4+</option>
							<option value="5">5+</option>
							<option value="6">6+</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="attacks">Step 6: AP</label>
						<select class="form-control form-control-lg" bind:value="{ap}">
							<option value="0">0</option>
							<option value="-1">-1</option>
							<option value="-2">-2</option>
							<option value="-3">-3</option>
							<option value="-4">-4</option>
							<option value="-5">-5</option>
							<option value="-6">-6</option>
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<button on:click="{handleSaveRoll}" class="btn btn-primary btn-lg">
						Roll
					</button>
				</div>
				<div class="col align-self-end">
					<button on:click="{resetSaveRoller}" class="btn btn-sm btn-danger">
						Reset
					</button>
				</div>
			</div>
		</form>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h1 class="card-title">SAVES</h1>
						<h1 class="whoa">{saves.length}</h1>
						{#if saves.length <= 0 }
							<p class="special">&nbsp;</p>
						{:else}
							<p class="special">
								{#each saves as dice, i}
								{#if dice === 1}<span class="rerollable">{dice} </span>
								{:else if dice === 5 }<span class="great">{dice} </span>
								{:else if dice === 6 }<span class="whoa">{dice} </span>
								{:else}<span>{dice} </span>{/if}
								{/each}
							</p>
						{/if}
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h1 class="card-title">FAILED</h1>
						<h1 class="rerollable">{nonsaves.length}</h1>
						{#if nonsaves.length <= 0 }
							<p class="special">&nbsp;</p>
						{:else}
							<p class="special">
								{#each nonsaves as dice, i}
								{#if dice === 1}<span class="rerollable">{dice} </span>
								{:else if dice === 5 }<span class="great">{dice} </span>
								{:else if dice === 6 }<span class="whoa">{dice} </span>
								{:else}<span>{dice} </span>{/if}
								{/each}
							</p>
						{/if}
					</div>
				</div>
				<div class="row" style="margin-top: 10px">
					<div class="col">
						<button type="button" class="btn btn-primary w-100" on:click="{handleRerollOnes}" disabled={disableRerollButtons}>1s</button>
					</div>
					<div class="col">
						<button type="button" class="btn btn-primary w-100" on:click="{handleRerollFails}" disabled={disableRerollButtons}>Failed</button>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
