<script>
    import {d6} from './SharedFunctions.js';
    
    let strength;
	let toughness;

	let disableRerollButtons = true;

    export let hits = [];
	export let wounds = [];
	export let nonwounds = [];

    function didIWound(stength, toughness, roll) {
		// is strength twice that of toughness?
		// if the result of s-t is >= t, then s must have been at least double
		// example:
		// s = 6
		// t = 3
		// s - t = 3
		// 3 >= t == true
		if ((strength - toughness) >= toughness) {
			if (roll >= 2) {
				return true;
			} else {
				return false;
			}
		}

		// is toughness twice that of strength?
		// if the result of t-s is >= s, then t must have been at least double
		// example:
		// s = 3
		// t = 6
		// t - s = 3
		// 3 >= s == true
		if ((toughness - strength) >= strength) {
			if (roll === 6) {
				return true
			} else {
				return false;
			}
		}

		if (strength === toughness) {
			if (roll >= 4) {
				return true;
			} else {
				return false;
			}
		}

		if (strength > toughness) {
			if (roll >= 3) {
				return true;
			} else {
				return false;
			}
		}

		if (strength < toughness) {
			if (roll >= 5) {
				return true;
			} else {
				return false;
			}
		}
	}

	function handleWoundRoll() {
		disableRerollButtons = false;

		let successful = []
		let fails = [];

		for (let i = 1; i <= hits.length; i++) {
			let roll = d6();
			if (didIWound(strength, toughness, roll)) {
				successful.push(roll);
			} else {
				fails.push(roll);
			}
		}

		wounds = successful;
		nonwounds = fails;

		wounds.sort((a, b) => a - b);
		nonwounds.sort((a, b) => a - b);
	}

    function handleRerollOnes() {
		let target = 1;
		if (nonwounds.indexOf(target) === -1) { return; }

		disableRerollButtons = true;

		let successful = [];
		let fails = [];

		for (let i = 0; i < nonwounds.length; i++) {
			if (nonwounds[i] === target) {
				let roll = d6();
				if (didIWound(strength, toughness, roll)) {
					successful.push(roll);
				} else {
					fails.push(nonwounds[i]);
				}
			} else {
				fails.push(nonwounds[i]);
			}
		}

		if (nonwounds.length === 0) {
			disableRerollButtons = true;
		} else {
			setTimeout(() => {disableRerollButtons = false;}, 1500);
		}
		
		wounds = wounds.concat(successful);
		nonwounds = fails;

		wounds.sort((a, b) => a - b);
		nonwounds.sort((a, b) => a - b);
	}

	function handleRerollFails() {
		disableRerollButtons = true;

		let successful = [];
		let fails = [];

		for (let i = 0; i < nonwounds.length; i++) {
			let roll = d6();
			if (didIWound(strength, toughness, roll)) {
				successful.push(roll);
			} else {
				fails.push(nonwounds[i]);
			}
		}

		if (nonwounds.length === 0) {
			disableRerollButtons = true;
		} else {
			setTimeout(() => {disableRerollButtons = false;}, 1500);
		}
		
		wounds = wounds.concat(successful);
		nonwounds = fails;

		wounds.sort((a, b) => a - b);
		nonwounds.sort((a, b) => a - b);
	}

	function resetHWoundRoller() {
		strength = undefined;
		toughness = undefined;
		wounds = [];
		nonwounds = [];
	}
</script>

<div class="row">
	<div class="col">
		<h2>Wound Roller ({hits.length || "N/A"})</h2>
		<form on:submit|preventDefault>	
			<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="stength">Step 3: Strength</label>
						<select name="stength" class="form-control form-control-lg" bind:value="{strength}">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
						</select>
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						<label for="toughness">Step 4: Toughness</label>
						<select name="toughness" class="form-control form-control-lg" bind:value="{toughness}">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
						</select>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col">
					<button on:click="{handleWoundRoll}" class="btn btn-primary btn-lg">
						Roll
					</button>
				</div>
				<div class="col align-self-end">
					<button on:click="{resetHWoundRoller}" class="btn btn-sm btn-danger">
						Reset
					</button>
				</div>
			</div>
		</form>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h1 class="card-title">WOUNDS</h1>
						<h1 class="whoa">{wounds.length}</h1>
						{#if wounds.length <= 0 }
							<p class="special">&nbsp;</p>
						{:else}
							<p class="special">
								{#each wounds as dice, i}
								{#if dice === 1}<span class="rerollable">{dice} </span>
								{:else if dice === 5 }<span class="great">{dice} </span>
								{:else if dice === 6 }<span class="whoa">{dice} </span>
								{:else}<span>{dice} </span>{/if}
								{/each}
							</p>
						{/if}
					</div>
				</div>
			</div>

			<div class="col-sm-6">
				<div class="card text-center">
					<div class="card-body">
						<h1 class="card-title">FAILED</h1>
						<h1 class="rerollable">{nonwounds.length}</h1>
						{#if nonwounds.length <= 0 }
							<p class="special">&nbsp;</p>
						{:else}
							<p class="special">
								{#each nonwounds as dice, i}
								{#if dice === 1}<span class="rerollable">{dice} </span>
								{:else if dice === 5 }<span class="great">{dice} </span>
								{:else if dice === 6 }<span class="whoa">{dice} </span>
								{:else}<span>{dice} </span>{/if}
								{/each}
							</p>
						{/if}
					</div>
				</div>
				<div class="row" style="margin-top: 10px">
					<div class="col">
						<button type="button" class="btn btn-primary w-100" on:click="{handleRerollOnes}" disabled={disableRerollButtons}>1s</button>
					</div>
					<div class="col">
						<button type="button" class="btn btn-primary w-100" on:click="{handleRerollFails}" disabled={disableRerollButtons}>Failed</button>
					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>
</div>
